.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  color: #191919;
}

svg {
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}